*__pycache__*

Submission/

*venv.txt

benchmark/utils/plotting.py 
benchmark/utils/test_plot2.py

benchmark/encoders/*requirements.txt
benchmark/encoders/*.yml

benchmark/data/*encoded*
benchmark/data/*scores_[0-9]*
benchmark/data/*params_[0-9]*
benchmark/data/*bootstrap*
benchmark/data/after_pca.txt

# Ignore reference repositories
Reference/
benchmark/encoders/ImmunoStruct*
PlotNeuralNet-master/

time_process.sh
